body {
  margin: 0;
  font-family: futura, Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue: #5cccca;

--purple: #BE97E7;
--gray: #989595;
--dark-purple: #954DCD;
--light-gray: #EBE9F1;
}

code {
  font-family: furtura, Verdana, Geneva, Tahoma, sans-serif, 'Courier New',
    monospace;
}

#header {
  background-image: url("../src/assets/img/hero-background.png");
  background-size: cover;
  background-position: top;
  background-attachment: local;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  margin-bottom: 30px;
}

#header h1 {
  text-shadow: 3px 3px 4px var(--gray), 1px 1px 5px var(--light-gray);
}
#header h2 {
  text-shadow: 1px 1px 2px var(--gray), 1px 1px 5px var(--light-gray);
}

.icon-links {
  font-size: 30px;
  color:#954DCD
}