body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  background-image: url("../src/assets/img/hero-background.png");
  background-size: cover;
  background-position: top;
  background-attachment: local;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  margin-bottom: 30px;
}
